
body{
  text-align: center;
}

.content{
  background-color: pink;
  border:1px solid black;
  padding:50px;
}


.sezione3 .pic-icon img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

img {
  height: 200px;
}





/* MEDIA QUERY XS - vesione smartphone */
@media all and (max-width:768px) {


  body{
    background-color: lightgreen;
  }


  /* MEDIA QUERY MD - vesione TABLET */
  @media all and (min-width:769px) and (max-width:992px) {

    body{
      background-color: lightblue;
    }

    /* MEDIA QUERY LG - vesione DESKTOP */
    @media all and (min-width:993px) {

    }

}
